---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@mixin border($url: "/assets/border.png",  $width: 5px) {
  border-top: 0;
  border-bottom: $width solid transparent;
  -webkit-border-image: url($url) 100 1 stretch;
  border-image: url($url) 100 1 stretch;
  -o-border-image: url($url) 100 1 stretch;
  padding-bottom: em(16px);
 }


//Vendors
@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/font-awesome/regular";

//Partials
@import "partials/reset";
@import "partials/base";
@import "partials/grids";
@import "partials/typography";
@import "partials/grids";
@import "partials/figures";

//Layouts
@import "layouts/footer";
@import "layouts/header";
@import "layouts/main";
@import "layouts/post";
@import "layouts/page";

//Modules
@import "modules/socialmedia";
@import "modules/contactform";
@import "modules/meetingslist";
@import "modules/readingslist";
@import "modules/emailsignup";
@import "modules/aboutus";

//State
@import "state/print";
