---
layout: default
title: Home
permalink: /
sitemap: yes
nav_bar: yes
---


<!--
{% include meetinglist.html title="Upcoming Meetings" role="region" aria-label="list of upcoming meetings"%}-->
<section class="meetings-list">
    <h1>Join us online</h1>
    <p>While the monastery is closed to visitors, The Bodhinyana Group is now meeting online.</p>
    <p>Meetings are open to those who have attended the group before – in the recent past. To participate and to receive instructions on how to join, please <a href="mailto:martin.evans350@ntlworld.com?Subject=Bodhinyana%20Group">e-mail Martin Evans</a>.</p>
    <p>Meetings follow a similar format as before, running on Wednesdays from 7:30 to 9:20pm</p>
    <p>For those who haven't attended the Bodhinyana Group before, and who are looking for a mediation group, <a href="http://www.buddhacommunity.net">The Amaravati Lay Buddhist Association</a> is running online Days of Practice open to all. </p>
</section>
{% include group.description.html %}
{% include print-contactus.html %}
{% include recentreadings.html title="Recent readings" %}
{% include contactus.html %}
