---
layout: default
title: Home
permalink: /
sitemap: yes
nav_bar: yes
---


<!--
{% include meetinglist.html title="Upcoming Meetings" role="region" aria-label="list of upcoming meetings"%}-->
<section class="meetings-list">
    <h1>Join us online</h1>
    <p>While the monastery is closed to visitors, the Bodhinyana Group is  meeting online using the Zoom platform.</p>
    <p>Meetings are open to those who have attended the group fairly regularly. To participate and to receive instructions on how to join, please <a href="mailto:martin.evans@amaravati.org?Subject=Bodhinyana%20Group">e-mail martin.evans@amaravati.org</a>.</p>
    <p>Meetings follow a similar format as before, running on Wednesdays from 7:30 to 9:20pm</p>
</section>
{% include group.description.html %}
{% include print-contactus.html %}
{% include recentreadings.html title="Recent readings" %}
{% include contactus.html %}
