<aside class="contact-form" id="contact-info">
<div class="container">
    <div class="contact-info">
        <p> Have a question?</p>
        <p>Want to lead a meeting?</p>
        <br/>
        <p>Drop us a line</p>
        <br/>
        <a href="mailto:martin.evans350@ntlworld.com"><i class="fa fa-envelope-o fa-fw">
        </i> martin.evans350@ntlworld.com</a>
        <a href="tel:01442409844"><i class="fa fa-phone fa-fw"></i> 01442 409 844</a>
    </div>
    <form method="POST" action="http://formspree.io/martin.evans350@ntlworld.com" onsubmit="">
        <ul>
            <li>
                <label>Name</label>
                <input type="text" name="name" />
            </li>
            <li>
                <label>Email</label>
                <input type="email" name="email" required/>
            </li>
            <li>
                <label>
                    Telephone (Optional)</label>
                <input type="tel" name="telephone" />
            </li>
            <li>
                <label>What would you like to talk to us about?</label>
                <textarea name="message" rows="10"></textarea>
            </li>
            <li>
                <input type="hidden" name="_subject" value="New submission via the Bodhinyana group contact form" />
                <input type="text" name="_gotcha" />
                <input type="hidden" name="_next" value="http://www.bodhinyanagroup.org.uk/thank-you/" />
                <input type="submit" value="Send" />
            </li>
        </ul>
    </form>
</div>
</aside>
