<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title}} &ndash; {{site.title}} {% else %}{{ site.title }}{% endif %}</title>

  {% if page.title == "Theme to be confirmed" %}
  <meta name="robots" content="noindex,nofollow">
{% endif %}
  <meta name="description" content="{% if page.reading_snippet %}{{ page.reading_snippet | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  {% if page.title == "Home" %}
  <style>
  @page{
    margin-top: 2.5cm;
    margin-bottom: .5cm;
    margin-right: .5cm;
    margin-left: 2cm;
  }
 @media print{
    p{
    font-size: 14pt;
  }
}
</style>
{% endif %}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/meetingsfeed.xml" | prepend: site.baseurl | prepend: site.url }}" />
          <!--[if lt IE 9]>
            <script src={{"scripts/html5shiv.googlecode.com/svn/trunk/html5.js" | prepend: site.baseurl}} ></script>
            <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
        <![endif]-->
 <script async src="{{"/scripts/dev-compiled.js" | prepend: site.baseurl }}"></script>
{% include favicon.html %}
{% if page.title %}{% include socialmediacards.html %} {% endif %}
 <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-40521337-1', 'auto');
  ga('send', 'pageview');
</script>
</head>
