<section class="meetings-list">
<h1>{{include.title}}</h1>
<ul {% if include.role %}role="{{include.role}}"{% endif %}{% if include.aria-label %}aria-label="{{include.aria-label}}"{% endif %}>
    {% for post in site.posts reversed limit:8 %}
    {% if post.date >= site.time %}
    <li id="{{post.date | date_to_rfc822 }}">
        <p><time datetime="{{post.date | date: "%Y-%m-%d %H:%M"}}">{{ post.date | date: "%-d %B %Y" }}</time> &ndash;
        {% if post.meeting_blurb contains " " or post.content contains " " %}
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        {% else %}
        	{{ post.title }}
        {% endif %}
		{% if post.leader and post.leader != "None" %}  
		{% assign leader = site.data.leaders[post.leader] %}
        &ndash;
        {{leader.name}}
        {% elseif post.leader == "None" %}
        {{leader.name}}
		{% else %}
        &ndash;    
		<a href="{{ site.baseurl | append: "/#contact-info" }}">Volunteer to lead this meeting</a>
		{% endif %}

        </p>
    </li>
    {% endif %}
    {% endfor %}
</ul>
</section>
{% include schema-programme.html %}
