.about-us {
    background: url("/assets/cusions.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    @include block-padding;
    @extend %clearfix;
    @media only screen and (max-width: 1000px) {
    padding-bottom: 0;
    padding-top: 4 * $spacing-unit;
    }
    h2{
    @media only screen and ( max-width: 800px) {
        text-align: center;
    }
    }
}
.overlay {
    background-color: $text-color;
    opacity: .8;
    margin-left: fluid(642px);
    padding-left: percentage(35.1px / 416px); //108px
    width: fluid(416px);
    padding-right: fluid(80px);
    float: left;
    color: $background-color;
    @include block-padding;
    @media only screen and (max-width: 800px) {
        @include remove-padding;
        margin-left: 0;
        width: inherit;
        padding-right: percentage(35.1px / 416px);
    }
}

