---
layout: compress
---
<!DOCTYPE html>
<html lang="en-gb">
{% include head.html %}

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
     <![endif]-->
    {% include socialscripts.html %}
    <div class="wrapper">
        {% include header.html %}
        {{ content }}
        {% include footer.html %}
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
</body>

</html>
